*{
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}

body, html{
    max-width: 63.75rem;
    margin: auto;
  }

a{
    text-decoration: none;
    font-size: 0.75rem;
}

h2, h3{
    font-weight: 900; 
}

h1{
    font-size: 1.5625rem;
}


.h2{
    font-size: 1.875rem;
    margin-top: 3.6875rem;
    letter-spacing: -0.015rem;
    &_our-service{
        color: $color-our-service__h;
    }
    &_portfolio{
        color: $color-portfolio__h;
    }
    &_about-us{
        color: $color-about-us__h;
    }
    &_get-a-quote{
        color: $color-get-a-quote_text;
        margin-bottom: 0.6em;
    }
}

.h3{
    font-size: 1.125rem;
    &_our-service{
        margin-top: -0.1875rem;
        color: $color-our-service__h;
        margin-bottom: 0.5rem;
        letter-spacing: -0.005rem;
    }
    &_about-us{
        margin-top: 0.94rem;
        margin-left: -0.0625rem;
        color: $color-about-us__h;
        margin-bottom: 0.5rem;
        letter-spacing: -0.005rem;
        height: 1.375rem;
        overflow: hidden;
    }
    &_get-a-quote{
        margin-top: -0.125rem;
        color: $color-get-a-quote_text;
        margin-bottom: 0.525rem;
        letter-spacing: -0.007em;
    }
}

.p{
    &_first{
        text-align: justify;
        font-size: 1.125rem;
        line-height: 1.875rem;
        font-weight: 300;
        overflow: hidden;
    }
    &_second{
        text-align: justify;
        font-size: 0.75rem;
        line-height: 1.375rem;
        overflow: hidden;
    }
    &_our-service{
        margin-top: 1.125rem;
        margin-bottom: 2.875rem;
        color: $color-our-service__p;
        &_layout{
            color: $color-our-service__p;
 
        }
    }    
    &_portfolio{
        margin-top: 1.125rem;
        color: $color-portfolio__p;
        margin-bottom: 0.6875rem;
    }
    &_about-us{
        margin-top: 1.125rem;
        color: $color-about-us__p;
        margin-bottom: 2.8rem;
        &__friend{
            color: $color-about-us__p;
            line-height: 1.35rem;
            letter-spacing: -0.0038rem;
        }
    }
    &_get-a-quote{
        color: $color-get-a-quote_text;
        margin-bottom: 2.7rem;
        &_contact{
            color: $color-get-a-quote_text;
            line-height: 1.37rem;
            letter-spacing: -0.003em;
            margin-bottom: 1.6875rem;
        }
    }
    &_modal{
        word-wrap: break-word;
        height: 120px;
    }

    
}


// .p_second{
//     font-size: 0.75rem;
//     line-height: 1.375rem;
//     font-weight: 400;
// }


// html {
//     font-size: 10px;
// }

// body {
//     @extend %font-prim;
//     @include font($size: 1.6rem, $height: 2.6rem, $weight: normal);
// }

// h1 {
//     @extend %font-add;
//     @include font($height: 5.4rem, $size: 4.4rem);
//     @include media-mobile {
//         @include font($height: 4.2rem, $size: 3.2rem);
//     }
// }

// h2 {
//     @include font($size: 3.4rem, $height: 4.6rem);
//     @include media-mobile {
//         @include font($height: 3.3rem, $size: 2.4rem);
//     }
// }

// h3 {
//     @include font($size: 2.4rem, $height: 3.4rem);
//     @include media-mobile {
//         @include font($height: 3.1rem, $size: 2.1rem);
//     }
// }

// h4 {
//     @include font($size: 2.2rem, $height: 3.0rem, $weight: 600);
//     @include media-tablet {
//         @include font($height: 3.0rem, $size: 2.0rem);
//     }
// }

// h5 {
//     @include font($size: 1.6rem, $height: 2.6rem);
// }

// .block-shadowed {
//     box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
//     border-radius: 10px;
// }