.about-us{
    min-height: 45.5rem;
    background: $color-about-us;
    padding-bottom: 46px;
    @include media-mobile{
        max-height: calc( 3 * 45.5rem); 
        }
}

.about-us__friends{
 display: flex;
 justify-content: space-between;
 @include media-mobile{
    flex-direction: column; 
    }
}

.about-us__friend{
    width: calc((100% - 40px) / 3);
    max-height: 451px;
    padding-bottom: 20px;
    @include media-mobile{
        width: 100%;
    }
}

.about-us__friend__photo{
    width: 100%;
    max-height: 300px;
    overflow:hidden;
    & img{
        width: 100%;
        height: 100%;
    }
}

.about-us__icon{
display: flex;
flex-wrap: wrap;
// width: 154px;
justify-content: left;
//margin-top: 1.4375rem;
}
.about-us__bottom{
    background-color: $color-about-us__bottom;
}

// $image-gap: 32px;

// .about-us {
//     padding: 30px 0 100px 0;
// }

// .about-us__title {
//     margin: 0 0 14px;
// }

// .about-us__description {
//     margin: 0 0 45px;
// }

// .employee-container {
//     padding-right: $image-gap;
// }

// .employee {
//     display: flex;
//     padding: 35px;
//     position: relative;
//     width: calc(30% - $image-gap);
// }

// .employee__name {
//     margin: 0;
// }

// .employee__title {
//     @include font($size: 1.4rem, $weight: normal);
//     margin: 0;
// }

// .employee__contact {
//     @include font($size: 1.4rem, $weight: normal);
//     color: $color-link;
//     text-decoration: none;
//     &:hover {
//         text-decoration: underline;
//     }
// }

// .employee__photo {
//     width: 98px;
//     height: 98px;
//     border-radius: 50%;
//     position: absolute;
//     right: -$image-gap;
//     top: 20px;
//     box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
// }