.get-a-quote{
    height: 40.5rem;
    background: $color-get-a-quote;
}

.get-a-quote__form{
    flex-basis: 38.75rem;
}

.get-a-quote__input{
    height: 2.4rem;
    padding: 0 0.875rem 0 0.875rem;
    margin-bottom: 0.975rem;
    width: 36.9rem;
    font-size: 0.75rem;
    color: $color-get-a-quote__input_text;
    border-radius: 5px;
    background-color: $color-get-a-quote__input;
    border: 0;
    &__detail{
        height: 11.3rem;
        padding: 0.625rem 0.875rem 0.625rem 0.875rem;
        resize: none;
    }
    &__button{
        width: 7.2rem;
        background-color: $color-get-a-quote__button;
        cursor: pointer;
        &:hover{
            background-color: $color-get-a-quote__button_active;
        }
    }
    &::placeholder{
        color: $color-get-a-quote__input_text;
    }
}

.get-a-quote__contact{
    flex-basis: 18.75rem;
}

.get-a-quote__contact__link{
    display: flex;
    margin-bottom: 0.4375rem;
    
}
.get-a-quote__contact__link div{
    display: flex;
    justify-content: center;
    width: 0.8125rem ;
    margin-right: 0.625rem;
}
.get-a-quote__contact__link a{
    color: $color-get-a-quote_text;
}
.get-a-quote__contact__link a:hover {
    color: $color-get-a-quote__button_active;
}
.get-a-quote__bottom{
    background: $color-get-a-quote_bottom;
}