.our-services{
    padding-bottom: 29px;
    background: $color-our-services;
}

.our-service__layout{
    display: flex;
    width: 32%;
    min-height: 6rem;
    align-items: flex-start;
    margin-bottom: 1.6875rem;
    overflow:hidden;
    @include media-tablet {
        width: 43.6%;
    }
    @include media-mobile {
        width: 100%;
    }
}
.our-service__layout__text{
    margin-left: 1.125rem;
}

.our-services__bottom{
    background: $color-our-services__bottom;
}
.our-service__layout__img{
    width: 20%;
}