.portfolio{
    height: 53.9375rem;
    background: #2d303a;
}
.portfolio__list{
    display: flex;
    justify-content: space-between;
    width: 18rem;
    margin-bottom: -5px;
}
.portfolio__item{
    font-size: 0.75rem;
    list-style-type: none;
    border-radius: 5px;
    padding: 3px 5px 3px 6px;
    color: $color-portfolio__item;
    border: $color-portfolio__item_border;
    cursor: pointer;
    &_color{
        color: $color-portfolio__item_active;
        border: $color-portfolio__item_border_active;
    }
    &:hover{
        color: $color-portfolio__item_active;
        border: $color-portfolio__item_border_active;
    }
}

.portfolio__images{
    display: flex;
    flex-wrap: wrap;
    height: 37.5625rem;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 1.375rem;
}

.portfolio__image{
    width: 13.75rem;
    height: 11.6874rem;
    margin-bottom: 1.25rem;
    overflow:hidden;
}
#portfolio__image_active{
    width: 210px;
    height: 177px;
    border: $color-portfolio__image_active;
}
.portfolio__image img{
    position: relative;
}
.portfolio__bottom{
    background: $color-portfolio__bottom;
}
// /*.portfolio__image_c1{
//     top: -10px;
//     left: -8px; 
// }
// .portfolio__image_c2{
//     top: -43px;
//     left: -81px;
// }
// .portfolio__image_c3{
//     top: -1px;
//     left: -11px;
// }
// .portfolio__image_c4{
//     top: -2px;
//     left: -24px;
// }
// .portfolio__image_c5{
//     top: -16px;
//     left: -11px;
// }
// .portfolio__image_c6{
//     top: -5px;
//     left: -16px;
// }
// .portfolio__image_c7{
//     top: -39px;
//     left: -31px;
// }
// .portfolio__image_c8{
//     top: -32px;
//     left: -24px;
// }
// .portfolio__image_c9{
//     top: -3px;
//     left: -16px;
// }
// .portfolio__image_c10{
//     top: -113px;
//     left: -141px;
// }
// .portfolio__image_c11{
//     top: -175px;
//     left: -144px;
// }
// .portfolio__image_c12{
//     top: -60px;
//     left: -35px;
// }*/
