.slider-block{
    background:$color-slider-block;
    max-height: 37.125rem;
    height: 58.24vw;
}

/*block slider image*/
.slider-block__sliders{
    width: calc(100% - 32px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.slider-block__slid{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.slider-block__vertical{
    // top: 9%;
    // left: 6.5%;
    width:calc(240% / 9);
    background-position: center;
    //max-height: 30.25rem;
    background-image: '';
    height: 100%;
    position: relative;
    //background-image: url(../../assets/image/phone-vertical_1.png);
    background-size: contain;
    background-repeat: no-repeat; 
    
}
.slider-block__vertical__img{
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(../../assets/image/phone-vertical.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
} 

// .slider-block__vertical__body{
//     // border: $color-border__body;
//     // border-radius: 4px;
//     top: 20%;
//     left: 7%;
//     width: 20.9%;
//     height: 56.1%;
//     position: absolute;
//     background-image: url(../../assets/image/vertical.png);
//     background-size: contain;
//     background-repeat: no-repeat;

// }

// .slider-block__vertical__body img{
//     width: 100%;
//     height: 100%;
//     position: relative;
// }

.slider-block__horizontal{
    // top: 30%;
    // left: 42%;
    width: calc(483% / 9);
    //max-height: 30.25rem;
    height: 100%;
    position: relative;
    //background-image: '';
    background-image: url(../../assets/image/phone-horizontal_1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
    
}

.slider-block__horizontal__img{
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(../../assets/image/phone-horizontal.png);;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
} 



// .slider-block__horizontal__body{
//     border: $color-border__body;
//     border-radius: 4px;
//     top: 6%;
//     left: 12%;
//     width: 68.65%;
//     height: 76%;
//     position: relative;
//     overflow: hidden;
// }
// .slider-block__horizontal__body img{
//     width: 100%;
//     height: 100%;
//     position: relative;
// }
.slider-block__next{
    display: flex;
    width: 63%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.slider-block__next img{
    width: 27.5%;
    max-height: 314px;
    position: relative;
}
.slider-block__second__body img{
    position: relative;
    width: 100%;
    max-height: 513px;
}


.slider-block__bottom{
    background: $color-slider-block__bottom; 
}