@mixin  icon ($url1,$url2) {
    //display: block; 
    width: 2.1875rem;
    //width: calc(35vw / 9.4);
    height: 2.1875rem;
    //height: calc(35vw / 9.4);
    background-image: $url1;
    background-size: contain;
    margin-left: 5px;
    background-repeat: no-repeat;
    &:hover{
        background-image: $url2;
    } 
    // @include media-mobile{
    //     width: calc(35vw / 3.75);
    //     height: calc(35vw / 3.75);
    // }
}



// @mixin font ($size, $height: $size, $weight: bold, $style: normal) {
//     font-size: $size;
//     font-style: $style;
//     font-weight: $weight;
//     line-height: $height;
// }


// @mixin columns ($width) {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     >* {
//         flex-basis: $width;
//     }
// }

@mixin media-tablet {
    @media (max-width: $tablet-width) { @content; }
}
  
@mixin media-mobile {
    @media (max-width: $mobile-width) { @content; }
}

// @mixin media-mobilesmall {
//     @media (max-width: $mobile-small-width) { @content; }
// }
